<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>
      <%= title %>
    </h1>
  </header>
  <h3>
    <%= __('Welcome to ') + title + ' ,' + __(' we have all and whatever is not there we invent it for you 😎') %>
  </h3>

  <h2>
    <%= __('Ads') %>
  </h2>

  <% ads.forEach(ad=> { %>
    <h3>
      <%= ad.article %>
    </h3>
    <img src="images/ads/<%= ad.image_url %>" alt="Article image">
    <nav>
      <ul>
        <li>
          <% if (ad.onsell) { %>
            <b>
              <%= __('On sell') %>
            </b>
            <% } else { %>
              <b>
                <%= __('Looking for') %>
              </b>
              <% } %>
        </li>
        <li>
          <% if (ad.onsell) { %>
            <b>
              <%= __('Price') %>
            </b>
            <% } else { %>
              <b>
                <%= __('Offer') %>
              </b>
              <% } %>
                <%= ad.price %> <b>€</b>
        </li>
      </ul>
      <p><b>
          <%= __('Description') %>
        </b>
        <%= ad.description %>
      </p>
      <div>
        <% ad.tags.forEach(tag=> { %>
          <span class="tag">
            <%= tag %>
          </span>
          <% }) %>
      </div>
    </nav>
    <% }) %>
</body>

</html>